@use '../../variables.scss';

header {
    background-color: variables.$dark-green;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 500;
    padding: 1em;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        width: 100%;
        max-width: 1500px;
        padding: 0;
        
        img {
            width: 100%;
            max-width: 160px;
        }

        .menu-items  {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            padding: 1em;

            li {
                margin: auto 1em;
            }
            a {
                transition: font-size 0.2s linear;
            }
            a:hover {
                font-size: 1.05em;
            }
        }
    }
}

@media (min-width: 500px) {
    header {
        ul {
            flex-direction: row;
        }
    }
}