@use '../../variables.scss';

.search {
    width: 95%;
    margin: 2em auto;
    padding: 0.5em;
    h2 {
        text-align: center;
    }
}
.result {

    padding-top: 2em;

    h3 {

        text-align: center;
    }

    .result-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .result-flex::after {
        content: "";
        flex: auto;
    }
}