.book {
    width: 100%;
    max-width: 70ch;
    margin: 3em auto;
    img {
        display: block;
        margin: 1em auto 2em;
        width: 100%;
        max-width: 200px;
        height: auto;
        flex-shrink: 0;
    }
    .info p {
        max-width: 40ch;
    }
    .description {
        width: 90%;
        max-width: 70ch;
        margin: auto;
        padding: 1em;
    }
}


@media (min-width: 800px) {
    .flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        
        
    }
    
}