@use '../../variables.scss';

.profileinfo {
    width: 100%;
    max-width: fit-content;
    margin: auto;
}
.my-reviews {
    margin-top: 3em;
}

.edit-form {
    textarea {
        width: 100%;
        border: 2px solid variables.$dark-green;
        border-radius: 5px;
        display: block;
        margin: 1em auto;
    }
}

.review-buttons, .edit-buttons {
    width: 100%;
    max-width: 17ch;
    display: flex;
    justify-content: space-between;
    .deleteBtn, .abortBtn {
        background-color: variables.$error-bg;
        border: 1px solid variables.$error-border;
        font-weight: 500;
    }
}
.edit-buttons {
    margin-top: 1em;
    max-width: 15ch;
}