@use './normalizer.scss';
@use './variables.scss';
body {
  margin: 0;
  
  width: 100vw;
  font-family: "Roboto", sans-serif;;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  padding: 2em 0;
}

h1, h2 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

// Loading
.loadingMsg {
  font-size: 1.2rem;
  font-weight: bold;
  color: variables.$dark-green;
  animation: blink 1.2s infinite;
  margin:  4em auto;
  width: fit-content;
}

// Error messages
.errorMsg {
  padding: 1em;
  font-weight: bold;
  width: fit-content;
  margin: 4em auto;
  background-color: variables.$error-bg;
  border: 2px solid variables.$error-border;
  border-radius: 5px;
}

// Buttons
button {
  border-radius: 5px;
  background-color: variables.$light-green;
  border: 1px solid variables.$dark-green;
  font-weight: 500;
  line-height: 1.6em;
}

// Forms
form {
  width: 100%;
  max-width: 30ch;
  margin: 3em auto;
  .form-section-center {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    width: 100%;
    border: 2px solid variables.$dark-green;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
  }

  button {
    display: block;
    margin: 1em auto;
  }
  p {
    width: fit-content;
    margin: 2em auto;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: variables.$dark-green;
  }
}

// Ul for reviews
.reviewlist {
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 50ch;
  margin: auto;
}

// Footer
footer {
  background-color: variables.$dark-green;
  padding: 1em;
  text-align: center;
  p {
    font-weight: 500;
  }
}